.columnContainer {
  background-color: #fafbfe;
  padding-top: 10px;
  width: 100%;
}

.columns {
  column-width: 320px;
  column-gap: 1%;
  max-width: 100%;
  margin: 0 20px;
}

.figureDetails {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
}

.imageContainer {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
